@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
/*---------------for all--------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

*::selection {
    background: #0ef;
    color: #1f242d;
}

body {
    background: #1f242d;
    color: #fff;
}
/*---------------------------------------*/

/*-----------------header ke ak line a korar jonno ----------------------*/
.header{
position: fixed;
top: 0;
left: 0;
width: 100%;
padding: 20px 10px;
background:#1a1e24;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 100;
}
.logo{
    font-size:25px ;
    color: azure;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.naver a {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px ;
    margin-right: 30px ;
    transition: .3s;
    animation: slideTop .5s ease forwards;
    animation-delay:calc(.2s * var(--i)) ;
}
.naver a:hover,
.naver a.active{
    color:rgb(6, 192, 192) ;
}
/*-----------------------------------------------------------*/

/*--------------------home section ar kaj ---------------------------*/
.home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 10% 0;
}
.home-contant{
    max-width: 600px;
}
.home-contant h3{
    font-size: 32px;
    font-weight:700 ;
    opacity: 0;
    animation: slideRight .7s ease forwards;
    animation-delay: .7s;
}
.home-contant h3:nth-of-type(2){
    margin-bottom: 30px;
    animation: slideRight .7s ease forwards;
    animation-delay: .7s;
}
.home-contant h3 span{
    color: #0ef;
}
.home-contant h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight .7s ease forwards;
    animation-delay: .7s;
}
.home-contant p{
    font-size: 20px;
    opacity: 0;
    animation: slideRight .7s ease forwards;
    animation-delay: .7s;
    
}
.home-png img{
    max-width: 450px;
    margin-right: -20px;
    opacity: 0;
    animation: zoomIn .7s ease forwards;
    animation-delay: .7s;
}
.social-midia a{
    display: inline-flex;
    width: 40px;
    align-items: center;
    justify-content: center;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef ;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay:calc(.2s * var(--i));
}
.social-midia a:hover{
    background: #0ef;
    color:#1f242d;
    transition: -3s ease;
    box-shadow: 0 0 20px #0ef;
}
.btton{
    display: inline-block;
    padding:12px 28px ;
    background: #0ef;
    text-decoration: none;
    border-radius: 40px;
    box-shadow: 0 0 10px  #0ef;
    font-size: 12px;
    color: #1f242d;
    letter-spacing: 1px;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1.2s;
}
/*----------------------------------------------------------*/

/*----------------------------about------------------------------*/
.btton2{
    display: inline-block;
    padding:12px 28px ;
    background: #0ef;
    text-decoration: none;
    border-radius: 40px;
    box-shadow: 0 0 10px  #0ef;
    font-size: 12px;
    color: #1f242d;
    letter-spacing: 1px;
    font-weight: 600;
}
.btton2:hover{
    box-shadow:none ;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background:#2b313b;

}
.home-png2 img{
    width: 35vw;
}
.heading{
    text-align: center;
    font-size: 50px;
}
.about-cont h2{
    text-align: left;
    line-height: 1.2;
}
.about-cont h3{
    font-size: 30px;
}
h2 span{
    color: #0ef;
}
.about-cont p{
    font-size: 14px;
    margin: 25px 0 30px;
}
/*----------------------------------------------------------*/

/*---------------------------serviecs-------------------------------*/
.service h2 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
.service-cont{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap:16px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 60px;

}
.service-cont .service-box{
    flex: 1 1 300px;
    background: #2b313b;
    padding: 24px 16px 32px;
    border-radius: 16px;
    text-align: center;
    border:1.6px solid rgb(14, 18, 23) ;
}
.service-box i{
    font-size: 7rem;
    color:#0ef;
    
}
.service-box h3{
    font-size: 24px;
}
.service-box p{
    font-size: 15px;
    margin: 25px 13px 22px;
    text-align: left;
}
/*----------------------------------------------------------*/


/*-------------------------slid animition---------------------------------*/
/*keywords animation*/
@keyframes slideRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
    
}
@keyframes slideTop {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
    
}

@keyframes slideLeft {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
    
}
@keyframes zoomIn {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
    
}

